<div class="col-sm-6 col-xl-3">
    <div class="d-flex justify-content-center align-items-center p-4 bg-{{ stats}} bg-opacity-15 rounded-3">
        <span class="display-6 lh-1 text-{{ stats }} mb-0"><i class="{{ icon }}"></i></span>
        <div class="ms-4 h6 fw-normal">
            <div class="d-flex">
                <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0">{{ val }}</h5>
                <span class="mb-0 h5">{{ unit }}</span>
            </div>
            <p class="mb-0">{{ message }}</p>
        </div>
    </div>
</div>
